<div class="container">
  <div class="row d-flex d-wrap justify-content-center">
    <form class="login-form border rounded border-dark p-5 col-12 col-lg-5 m-2">
        <h1 class="text-center mb-5">Login</h1>
        <div class="row mb-3">
            <label for="username-login" class="col-form-label">Username:</label>
            <div class="col-sm-10">
                <input type="username" class="form-control" id="username-login">
            </div>
        </div>
        <div class="row mb-3">
            <label for="password-login" class="col-form-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password-login">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
  <div>
    <a href="/signup">Signup</a>
  </div>
<script src="../public/js/login.js"></script>